*{
    border:0;
    margin:0;
    box-sizing: border-box;
}

body{
    color:#454545;
}

/****************HEADER*****************/
header{
    background: #000;
    color:#eee;
}

a,a:hover{
    color:#eee;
    text-decoration: none;
    display: inline-block;
}

.menu{
    text-align: center;
    font-size: .9rem;
    width: 50%;
    display: grid;
    grid-template-columns: repeat(5,1fr);
}

